__pycache__/
*.py[cod]
.venv/
venv/
.env
cache/
*.log
*:Zone.Identifier
.DS_Store
product_files/
master_env.yaml
example/
benchmark_results/
1.txt
1.md
benchmark_results_new-prompt/
.grok/
cache_1/
cache_half/
test/
cache_涂料/
benchmark_results_old/
docs/
.vscode/
rules/
benchmark_results_2k/
cache_2k/
benchmark2_results/
benchmark2_result/
benchmark3_results/
benchmark3_result/
agent_try/
self_agent/
benchmark_results_simple/
probe_vllm.py
benchmark_results_sen-analysis-topk/
useless/
results/
benchmark2/
temp.py
benchmark2.py