__pycache__/
*.py[cod]
.venv/
venv/
.env
cache/
*.log
*:Zone.Identifier
.DS_Store
product_files/
master_env.yaml
example/
benchmark_results/
1.txt
1.md
benchmark_results_new-prompt/
.grok/
cache_1/
cache_half/
test/
cache_涂料/
benchmark_results_old/
docs/
.vscode/
rules/
benchmark_results_2k/
cache_2k/